# Dependencies
node_modules
.pnp
.pnp.js

# Production
build
dist
.out
.next

# Misc
.DS_Store
*.pem
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test coverage
coverage
.nyc_output

# Playwright
test-results
playwright-report
playwright/.cache
